<div id="<%= dom_id weather %>">
  <p>
    <strong>City:</strong>
    <%= weather.city %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= weather.temperature %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weather.description %>
  </p>

</div>
